In [1]:
import pandas as pd

In [2]:
#ques 1

data={'name':['sandeep'],'age':[20],'mail_id':['sandeepbinwal123@gmail.com'],'ph-no':[ 9235667678]}
data

{'age': [20],
 'mail_id': ['sandeepbinwal123@gmail.com'],
 'name': ['sandeep'],
 'ph-no': [9235667678]}

In [3]:
df = pd.DataFrame(data)
df

   age                     mail_id     name       ph-no
0   20  sandeepbinwal123@gmail.com  sandeep  9235667678

In [4]:
# Friends Info

data1={'name':['rohit','guru','amit'],'age':[20,20,23],'mail_id':['rohit123@gmail.com','guru345@gmail.com','amitbisht123@gmail.com'],'ph-no':[ 9678453245,8765345687,9765456786]}
data1

{'age': [20, 20, 23],
 'mail_id': ['rohit123@gmail.com',
  'guru345@gmail.com',
  'amitbisht123@gmail.com'],
 'name': ['rohit', 'guru', 'amit'],
 'ph-no': [9678453245, 8765345687, 9765456786]}

In [5]:
df1=pd.DataFrame(data1)
df1

   age                 mail_id   name       ph-no
0   20      rohit123@gmail.com  rohit  9678453245
1   20       guru345@gmail.com   guru  8765345687
2   23  amitbisht123@gmail.com   amit  9765456786

In [6]:
# final answer

df.append(df1, ignore_index=True)

   age                     mail_id     name       ph-no
0   20  sandeepbinwal123@gmail.com  sandeep  9235667678
1   20          rohit123@gmail.com    rohit  9678453245
2   20           guru345@gmail.com     guru  8765345687
3   23      amitbisht123@gmail.com     amit  9765456786